[submodule "libultraship"]
	path = libultraship
	url = https://github.com/reflex909/libultraship.git
	branch = gyro-rumble-fix
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/reflex909/OTRExporter.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/reflex909/ZAPDTR.git
