[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/HarbourMasters/ZAPDTR.git
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/HarbourMasters/OTRExporter.git
[submodule "libultraship"]
	path = libultraship
	url = https://github.com/reflex909/libultraship.git
	branch = gyro-rumble-fix
